/* Modal Header */
.modal-header {
  padding: 1% 2%;
  // display: flex;
  align-items: center;
  background-color: grey;
  color: white;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 1px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Body */
.modal-body {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  min-height: 100px;
  flex-direction: column;
  //   margin: 3px 4px;
}

/* Modal Footer */
//   .modal-footer {
//     padding: 2px 16px;
//     background-color: #5cb85c;
//     color: white;
//   }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 1.5s;
}


/* Add Animation */
@keyframes animatetop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
