/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$words-margin: 0.5vh;
$words-box-size: 8vh;



// normal colors
$words-border-color: grey;
$halfCorrect: rgb(224, 201, 98);
$fullCorrect: #6ecc6e;
$incorrect: rgb(161, 161, 161);
$letterColor: rgb(255, 255, 255);
$backgroundColor: rgb(255, 255, 255);

$navbar: rgb(161, 161, 161);
$navbarColor: rgb(0, 0, 0);

// pink
// $words-border-color: #6f3055;
// $halfCorrect: #f5bfcb;
// $fullCorrect: #f66fb2;
// $incorrect: #993f69;
// $letterColor: rgb(255, 255, 255);
// $backgroundColor: #faebec;
// $navbar: $halfCorrect;
// $navbarColor: rgb(0, 0, 0);

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $backgroundColor;
}
