<div class="container">
  <div class="errorSpaceHolder">
    <div *ngIf="errorMessage !== ''" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
  <div class="fullWord" *ngFor="let fullWord of array">
    <ul [@animateState]="fullWord.shakeState">
      <div *ngFor="let letters of fullWord.word; let index = index">
        <div class="letterContainer">
          <div>
            <li
              class="singleLetter"
              [id]="commonService.correctnessToString(letters.correctness)"
              key="{ letters.key }; let innerIndex = index"
            >
              {{ letters.letter }}
            </li>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<app-keyboard></app-keyboard>
